@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');


//font
$font-family: 'Poppins', sans-serif;
//font-size
$title-size: 28px;
$text-size: 16px;
$button-text-size: 20px;

//colors
$main-color: #6f57ff;
$secondary-color: #ff5a5f;
$font-color:#3c3c3b;
$white: #fff

