@import './config/variables';

.main_container{
    position: relative;
    width: 100%;
    margin-bottom: 50px;
    .main_banner{
      width:100%;
        div{
          width: 100%;
          height: 600px;    
      }
    }
    .text_container{
        position: absolute;
        bottom: 90px;
        left: 12.8%;
        @media(max-width: 425px){
          left:0;
          top: 80px;
          width: 100%;
          display: flex;
          flex-direction: column;  
          align-items: center;       
        }
        .contact_button{
            background-color: $main-color;
            color: $white;
            font-size: $button-text-size;
            border: none;
            padding: 15px 40px;
            border-radius: 8px;
            cursor: pointer;
            @media(max-width: 425px){
                font-size: 14px;
                margin: 0 auto;
                text-align: center;
            }
            &:hover{
                filter: brightness(1.1);
            }
        }
        .banner_text{
            font-size: $title-size;
            font-weight: 400;
            width: 425px;
            margin-bottom: 40px;
              @media(max-width: 425px){
                width: 250px;
                font-size: 24px;
              }
        }
    }    
}
.slick-next{
    background-image: url('../assets/images/button-banner-right.png')!important;
    background-size: 100%!important;
    background-repeat: no-repeat!important;
    width: 50px!important;
    height: 50px!important;
    right: 25px!important;
    &::before{
     all: unset!important;
    }
}
.slick-prev{
    background-image: url('../assets/images/button-banner-left.png')!important;
    background-size: 100%!important;
    background-repeat: no-repeat!important;
    width: 50px!important;
    height: 50px!important;
    left: 25px!important;
    z-index: 5;
    &::before{
        all: unset!important;   
       }
}